main {
	width: 95%;
	height: calc(790*100%/1000);
	overflow: scroll;
	position: absolute;
	top: clamp(125px,calc(171*100%/1000),180px);
	overflow-x: hidden;
	z-index: 0;

	&::-webkit-scrollbar {
		width: 15px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #D9D9D9;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-button:single-button:decrement {
		background-color: transparent;
		border-left: 7px solid transparent;
  		border-right: 7px solid transparent;
  		border-bottom: 10px solid #0A91AB;
		border-radius: 7px;
 		height: 10px;
		cursor: pointer;
	}

	&::-webkit-scrollbar-button:single-button:increment {
		background-color: transparent;
		border-left: 7px solid transparent;
  		border-right: 7px solid transparent;
  		border-top: 10px solid #0A91AB;
		border-radius: 7px;
 		height: 10px;
		cursor: pointer;
	}
}

.main-container {
	width: calc(1820*100%/1920);
	display: flex;
	flex-flow: column nowrap;
	gap: 2vh;
}

.table-container {
	width: 100%;
	height: 725px;
	background-color: #065471;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	transition: background-color 0.2s;

	&:hover {
		background-color: #097e95;
		transition: background-color 0.2s;
	}
}

table {
	width: 97%;
	height: 96%;
	background-color: transparent;
	border-collapse: collapse;
	align-self: center;
	font-size: 1.7em;
	color: #ffffff;
	text-align: center;

	th, td {
		border-right: 2px solid #D9D9D9;
		border-bottom: 2px solid #D9D9D9;

		&:last-child {
			border-right: none;
		}
	}

	td:first-child {
		text-align: left;
	}

	& tr:last-child td {
		border-bottom: none;
	}
}

.charts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: auto;
	margin-top: 20px;
	gap: calc(100%/1000*20);
}

.chart {
	height: 100%;
	width: calc(725/200*80%);
	margin-bottom: 20px;
}

canvas {
	width: 100%;
	height: auto;
	max-width: calc(1710/100*40%);
	background-color: #D9D9D9;
	border-radius: 10px;
}

.stat-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin-bottom: 30px;

	h3 {
		font-size: 1.8em;
	}
}

@media (min-width: 715px) and (max-width: 900px) {
	table {
		font-size: 1.4em;
	}
}

@media (max-width: 900px) {
	main::-webkit-scrollbar {
		width: 0px;
	}

	.main-container {
		width: 100%;
	}
}

@media (max-width: 715px) {
	table {
		font-size: 1.2em;
	}

	.stat-text-container h3 {
		font-size: 1.4em;
	}
}

@media (max-width: 530px) {
	table {
		font-size: 0.9em;
	}

	.stat-text-container h3 {
		font-size: 1.1em;
	}
}

@media (max-width: 325px) {
	table {
		font-size: 0.7em;
	}

	.stat-text-container h3 {
		font-size: 0.9em;
	}
}

@media (max-width: 1025px) {
	.charts {
		flex-direction: column;
	}

	.chart {
		width: 100%;
	}
}